* {
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.left {
    width: 50%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    overflow-y:scroll;

    padding: 0 60px;
}

.right>div {
    width: 100%;
    height: 100%;
    position: relative;
}

.content {
    position: absolute;
    top: 407px;
    font-family: "NotoSans-Regular";
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.4px;
    color: #222222;
}

.blue {
    color: blue;
}


.right {
    width: 50%;
    height: 100%;
}

.tag {
    width: 138px;
    height: 83px;
    font-family: 'NotoSans-Black', sans-serif;
    font-size: 56px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -1.1px;
    color: #222222;
}

.reBtn {
    width: 124px;
    height: 33px;
    font-family: "NotoSans-Regular";
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.4px;
    color: #a7a7a7;
}

.rediv {
    position: absolute;
    top: 157px;
}

#actionBtn {
    width: 274px;
    height: 72px;
    border-radius: 42px;
    border-width: 0px;
    box-shadow: 8px 10px 12px 0 rgba(63, 51, 255, 0.3);
    
    background-color: #3f33ff;
    position: absolute;
    top: 65%;
    font-family: "NotoSans-Regular";
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.4px;
    text-align: center;
    color: #ffffff;
}

.small_box {
    position: relative;
    top: 157px;
    float: left;
    text-align: center;
    width: 45%;
    max-height: 200px;
    border-radius: 8px;
    border-width: 2px;
    border-color: #3f33ff;
    border-style: solid;
    margin: 1.5%;

    font-family: 'NotoSans-Regular', sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.32px;
    text-align: center;

}

.small_box>.title {
    font-family: 'NotoSans-Black', sans-serif;

    font-size: 1.7em;
    font-weight: 900;
    letter-spacing: -0.7px;
    text-align: center;
}

 @media (max-width: 1127px) {
     body{
         flex-direction: column;
         height: auto;
     }
     .small_box {
         position: relative;
         top: 0px;
         padding: 0 30px;
         height: 28%;
         width: auto;
         font-size: 10px;
     }
    .left {
        width: 100%;
        height: 90vh;
        flex-direction: column;
        overflow-x: scroll;
        overflow-y: none;
        padding-top: 94px;
        padding-left: 30px;
        padding-right: 0px;
        max-height: 50%;
    }
    .rediv {
        position: fixed;
        top: 42px;
        left: 24px;
    }

    .right {
        float: left;
        width: 100%;
        height: 50%;
    }
    .tag {
        font-size: 24px;
    }
    
    .content {
        left: 24px;
        top: 0px;
        font-size: 14px;
        width: 100%;
    }
    #actionBtn {
        position: absolute;
        left: 50%;
        top: 40%;
        height: 52px;
        width: 87%;
        transform: translate(-50%, -50%);
    }
}

@media(max-height:600px) {
    .small_box {
        height: 97px;
    }
}

@media(max-height:500px) {
    .small_box {
        height: 28%;
        padding: 0 30px 30px;
    }
    #actionBtn {
        top: 45%;
    }
}