<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Instag</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700" rel="stylesheet">
    <link href="/stylesheets/index.css" rel="stylesheet" type="text/css">
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-102593791-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-102593791-1');
    </script>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-1246010458851705",
            enable_page_level_ads: true
        });
    </script>
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script>
        var language = window.navigator.userLanguage || window.navigator.language;
        var lang = language.substr(0, 2).toLowerCase();
        $(document).ready(function ($) {
            $('body').addClass(lang);

            if ($('body').hasClass('ko')) {

            }
            else if ($('body').hasClass('en')) {
                $('.subtitle').html("<br><br> The connection between word and hashtags")
                $('.content').html("<br><br><br>\
                    \
                    Instag helps you to find and copy hash tags\
                    <br>that are used today with the hashtag which you typed\
                    <br><br>\
                    Click the button after thinking topic hashtag.\
                "
                )
                $('.start').html("Start")
            }
        });
    </script>
</head>

<body>
    <div class="left">
        <img src=<%=url %> alt="image" class="left">
        <div>
            <img src="images/logo-intro-small.svg" class="small_logo">
        </div>
    </div>

    <div class="right">
        <div>
            <span class="top">
                <span class="title">
                    SEARCH <br>
                    HASH <br>
                    TAGGING <br>
                    : END
                </span>

                <span class="subtitle">
                    <br><br>
                    검색 , 해쉬, 태그하기 : 끝
                </span>

                <span class="content">
                    <br><br><br>
                    주제를 입력하면 그와 함께 쓰인 해시태그들을 찾아<br>복사할 수 있게끔 도와줍니다
                    <br><br>
                    원하는 단어를 떠올리고 시작하기를 눌러주세요.
                    

                </span>
                <br><br><br>


                <a href="/search"><button class="start" id="start">시작하기</button></a>


            </span>
        </div>
    </div>

    <span id="contact"><a href="mailto:changhyeon743@gmail.com" target="_top"><img src="images/contact.svg"></a>&nbsp;&nbsp;<a
            href="https://www.instagram.com/instag.kr/" target="_top"><img src="images/instagram.svg"></a> <a href="https://www.facebook.com/Instaggapp"
            target="_new"><img src="images/facebook.svg"></a></span>
</body>

</html>