<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Instag</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700" rel="stylesheet">
    <link href="/stylesheets/index.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="left">
        <img src=<%=url %> alt="image" class="left">
        <div>
            <img src="images/logo-intro-small.svg" class="small_logo">
        </div>
    </div>

    <div class="right">
        <div>
            <span class="top">
                <span class="title">
                    TYPE <br>
                    HASH <br>
                    TAGGING <br>
                    : END
                </span>

                <span class="subtitle">
                    <br><br>
                    타자치기 , 해쉬, 태그하기 : 끝
                </span>

                <span class="content">
                    <br><br><br>
                    인스타그램에서 원하는 주제의 단어를 입력해 <br>그와 가장 최근에 함께 쓰인 해시태그를 찾아 복사할 수 있게끔 도와줍니다.
                    <br><br>
                    원하는 단어를 떠올리고 시작하기를 눌러주세요.
                    
                </span>

                <br><br><br>


                <a href="/search"><button class="start" id="start">시작하기</button></a>
            </span>
        </div>
    </div>
</body>

</html>