<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Instag</title>
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <link href="/stylesheets/search.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <script>
        var isLoading = false;
        function search() {
            var str = document.getElementById("search").value;
            //해시태그:8
            var strMatch = str.match(/.*:\d/);
            
            if (strMatch!=null) {
                //Option on
                var no= str.replace(/[^0-9]/g,'');
                str = str.replace(/:[\d]/,"");
                window.location.href=encodeURI(window.location.origin+"/result/"+str+"?count="+no);
            } else {
                //Option off
                window.location.href=encodeURI(window.location.origin+"/result/"+str)
            }
        };
    </script>
</head>
<body>

<img class="logo" src="images/logo-main-invers.svg" style=<%= style %>/>

<div class="search-box">
    <input type="text" name="" class="search-text" id="search" onkeypress="if(event.keyCode==13) {search(); return false;}"/>
    <div class="search-btn-box">
        <img class="search-btn" src="images/search_btn.svg" id="btn_s" onclick="search()">
    </div>
</div>

<p class="notice">인스택 사용 정책 및 개인정보 보호에 관한 정책</p>

</body>
</html>