<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>Instag</title>
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>

    <link href="/stylesheets/search.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <script>
        var isLoading = false;
        function search() {
            var str = document.getElementById("search").value;
            if (str != "") {
                //해시태그:8
                var strMatch = str.match(/.*:\d/);

                if (strMatch != null) {
                    //Option on
                    var no = str.replace(/[^0-9]/g, '');
                    str = str.replace(/:[\d]*/, "");
                    window.location.href = encodeURI(window.location.origin + "/result/" + str + "?count=" + no);
                } else {
                    //Option off
                    window.location.href = encodeURI(window.location.origin + "/result/" + str)
                }
            }
        };
    </script>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-102593791-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-102593791-1');
    </script>
</head>

<body>

    <img class="logo" src="images/logo-main-invers.svg" style=<%=style %>/>

    <div class="search-box">
        <input type="text" name="" class="search-text" id="search" onkeypress="if(event.keyCode==13) {search(); return false;}"
            placeholder="주제 단어를 입력해주세요."/>
        <div class="search-btn-box">
            <img class="search-btn" src="images/search_btn.svg" id="btn_s" onclick="search()">
        </div>
    </div>

    <img class="home" src="images/home.svg" alt="" onclick="window.open('http://instag.kr');">

    <p class="notice">[TIP] 검색어:검색할 양 (주제:15)식으로도 검색할 수 있습니다.</p>

</body>

</html>