<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Instag</title>
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        .logo {
            position: absolute;
            top: 30%;
            left: 50%;
            width: 426px;
            height: 120px;
            transform: translate(-50%, -50%);
            
        }

        .search-box {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 660px;
            transform: translate(-50%, -50%);
            height: 40px;
            border-radius: 8px;
            box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.15);
            border: solid 2px #d8d8d8;
            background-color: #ffffff;
            padding: 10px;
        }

        .search-btn-box {
            float: right;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.4s;
            color: white;
            cursor: pointer;
        }

        .search-text {
            border: none;
            background: none;
            outline: none;
            float: left;
            padding: 0;
            color: black;
            font-size: 16px;
            transition: 0.4s;
            line-height: 40px;
            width: 600px;
            font-weight: bold;
        }

        .search-btn {
            float: right;
            width: 30px;
        }

        .notice {
            font-size: 18px;
            font-weight: bold;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: -0.4px;
            text-align: center;
            color: #a7a7a7;
            position: absolute;
            top:90%;
            transform: translate(-50%, -50%);
            left: 50%;
        }
    </style>
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>

    <script>
        var isLoading = false;
        function search(){
            var str = document.getElementById("search").value;
            $.ajax({
                type : "GET",
                url : "/result/"+str,
                dataType : "html",
                error : function(){
                    alert('통신실패!!');
                },
                success : function(data){
                    alert("통신데이터 값 : " + data) ;
                    $("html").load(data);
                }
                
            });
        };
    </script>
</head>
<body>

<img class="logo" src="images/logo-main-invers.svg" style=<%= url %>/>

<div class="search-box">
    <input type="text" name="" class="search-text" id="search" onkeypress="if(event.keyCode==13) {search(); return false;}"/>
    <div class="search-btn-box">
        <img class="search-btn" src="images/search_btn.svg" id="btn_s" onclick="search()">
    </div>
</div>

<p class="notice">인스택 사용 정책 및 개인정보 보호에 관한 정책</p>

</body>
</html>